# Garbage Files
.DS_Store
*/.DS_Store

# Unfinished Subdirectories
P1-Intro-to-JS/
P2-Intro-to-React/
P5-Capstone-Engineering/

# Unfinished Subdirectory Materials: Supplements
P3-Intro-to-Python/supplementary-content/
P4-Intro-to-Flask/supplementary-content/

# Python Configuration Materials
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.mypy_cache/
*/.mypy_cache/

# Python Environment Configurations
Pipfile.lock
*/Pipfile.lock
__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/

# Node Environment Configurations
package-lock.json
*/package-lock.json
node_modules/
*/node_modules/